body {
  background-color: #f5e4b4;
  margin: 0;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

//sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}
#engelska{
 position: absolute;

}
#sverige{
  position: absolute;
}


html {
  height: 100%;
}