// fonts
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


body {
  margin: 0;
  height: 100%;
  font-family: 'Orbitron';
  background-image: url("/images/bg-2.jpg");
  background-size: fixed;
  background-repeat: no-repeat;
}

//sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
  text-align: center;
}
#engelska{
 position: absolute;
}
#sverige{
  position: absolute;
}


html {
  height: 100%;
}