
.card{
  text-align: center;
}
.card-title5 { 
  margin-top: 1.5px;
 
}
  @media (max-width: 1197px) and (min-width: 855px){
    .card-title5 {
      font-size: 19.4px;
      margin-bottom: 15px;
    
    }
  }

