.modal {
  display: none; /* Hidden by default */
  margin:auto;
  width: 98vw;
  }

 
    .modal img {
      border: 5px groove rgb(108, 75, 150);
  }
  @media (max-width: 797px) and (min-width: 300px){
  .modal img {
    width: 303px;
    height: 258px;
  }
}
 
  .lightbox {
    flex-direction: row;
    justify-content: center;
    background:none;
    border:none;
    }
