nav {
    figure{
    cursor: pointer;
}
}
nav{
    a{
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
.navbar-nav{
    margin:0 auto;
}

