
nav {
    figure{
    cursor: pointer;
}
}

.bg-dark {
    background-color: #4556677a;
}

nav{
    a{
        font-size: 20px;
        font-family: 'Press Start 2P', cursive;
    }
}
.navbar-nav{
    margin:0 auto;
}

