.game {
  position: relative;
  background-image: url("/images/bg-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //color: white;
  height: 70vh; // default 70vh
  width: 60vw;  // default 60vw
  margin: auto;
  border: 5px groove rgb(108, 75, 150);
  display: none;

  .gameHud {
    border-bottom: 4px groove rgb(108, 75, 150);
    height: 30px;
    color: #FFF;
  }

  .score {
    position: absolute;
    top: 2px;
    right: 10px;
    p{
      display:inline-block;
      margin-right: 4px;
      font-size: 0.7em;
    }
    .langEnInline{
      display:none;
    }
  }
   
  .lives {
    position: absolute;
    top: 2px;
    left: 10px;
    p{
      display:inline-block;
      margin-right: 4px;
      font-size: 0.7em;
    }
    .langEnInline{
      display:none;
    }
  }
   
  .main-text {
    display:none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 150px;
  }
   
  .paddle {
    width: 10vw;  // default 10vw
    height: 2vh;  // default 2vh
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    border-style: outset;
    border-width: 1px;
    background: radial-gradient(
      rgb(133, 108, 226) 20%,
      rgb(36, 6, 85) 
    );
  }
/*
    &:after {
      content: ‘’;
      position: absolute;
      width: 20px;
      right: 0;
      height: 100%;
      background: rgb(222, 10, 10);
      border-radius: 0 20% 20% 0;
    } 
    &:before {
      content: ‘’;
      position: absolute;
      width: 20px;
      left: 0;
      height: 100%;
      background: rgb(222, 10, 10);
      border-radius: 20% 0 0 20%;
   }
   */

  .brick {
    width: 5vw;
    height: 2vh;
    left: 29%;    // to center the cluster of bricks
    top: 40%;
    position: absolute;
    z-index: 1;
    border: 2px groove rgb(179, 155, 209);
  }
   
  .ball {
    position: absolute;
<<<<<<< HEAD
    height: 3vh;
    width: 3vh;
    background: radial-gradient(circle at 10px 10px, #ffffff, #353535);
=======
    height: 2vh;
    width: 2vh;
    background: radial-gradient(circle at 10px 10px, #ffffff, rgb(53, 53, 53));
>>>>>>> master
    border-radius: 50%;

    -webkit-animation: rotation 2s infinite linear;
  
  @-webkit-keyframes rotation {
      from {
          -webkit-transform: rotate(0deg);
      }
      to {
          -webkit-transform: rotate(359deg);
      }
  }
  }

  .game-over {
    display:none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 150px;
  }

  .ball-paused {
    animation-play-state: paused;
  }
  
  @keyframes ball-animation-horizontal {
    0%   {left: 0}
    100%  {left: calc(100% - 40px)}
  }
  
  @keyframes ball-animation-vertical {
    0%   {top: 0}
    100%  {top: calc(100% - 40px)}
  }

  #newHigscoreForm{
    
  }
  
}
