.highscore{
    color:white;
    height: 70vh;
    width: 60%;
    background-color: black;
    margin: auto;
    border: 5px groove #6c4b96;
    display: block;
    text-align: center;
    position: relative;
    display: none;

    h1{
        font-size: 5vw;
        margin-top: 5%;
    }

    .back{
        position: absolute;
        bottom: 0;
        left: 20px;
        font-size: 3vh;
        color:#007bff;

        &:hover{
            cursor: pointer;

            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 0.7s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
            @-webkit-keyframes blinker {
              from {opacity: 1.0;}
              to {opacity: 0.5;}
            }
            
            text-decoration: underline;
        }
    }

    .backGameOver{
        position: absolute;
        bottom: 0;
        left: 20px;
        font-size: 3vh;
        color:#007bff;
        display: none;

        &:hover{
            cursor: pointer;

            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 0.7s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
            @-webkit-keyframes blinker {
              from {opacity: 1.0;}
              to {opacity: 0.5;}
            }
            
            text-decoration: underline;
        }
    }

    .play{
        position: absolute;
        bottom: 0;
        right: 20px;
        font-size: 3vh;
        color:#007bff;

        &:hover{
            cursor: pointer;

            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 0.7s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
            @-webkit-keyframes blinker {
              from {opacity: 1.0;}
              to {opacity: 0.5;}
            }

            text-decoration: underline;
        }
    }
    .list {
        margin:auto;
        text-align: center;
    }

    .row{
        margin:0;
    }
    @include media-breakpoint-down(sm){
        font-size: 15px;
    }
}