
  h1 {
    font-size: 29px;
    font-weight: 900;
  }

  .historic {
    line-height: 1.5;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    position: relative;
    background-color: rgba(243, 237, 237, 0.7);
  }

  //text and pic/carousel background
  .image-background {
    padding: 20px;
    position: relative;
    background-color: rgba(243, 237, 237, 0.7);
  }
  
  h2 {
    display: block;
    padding: 40px 20px 40px 20px;
    font-size: 16px;
    font-weight: 900;
    color: rgb(22, 7, 7);
  }
  .carousel {
      display: block;
  }

  .carousel-caption {
    color: red;
    text-align: center;
  }
  .flyer-pic, .flyer-pic2 {
    display: block;
  }