.flags {
    display: block;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

.Historia {
  display: inline-block;
  padding: 33px;
}


  .historic {
    display: inline-block;
    padding: 33px;
  }

  h1 {
    padding-left: 33px;
    font-size: 29px;
  
  }
  article {
    display: inline-block;
    padding-left: 33px;
    padding-top: 20px;
  }
  h2 {
    display: inline-block;
    padding-top: 40px;
    font-size: 15px;
   
  }
  .carousel {
      display: inline-block;
      justify-content: center;
      
  }
  .flyerPic{
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    justify-content: center;
  }
  

