h4 {
    color: rgb(55, 35, 145);
    font-size: 33px;
    text-align: center;
}

.modal-body {
    color: rgb(55, 35, 145);
    text-decoration: none;
    line-height: 2em;
    font-size: 18px;
    padding: 20px;
}

.modal-footer {
    text-align: center;
    }


