h4 {
    color: rgb(55, 35, 145);
    font-size: 33px;
    text-align: center;
}

.instructions-modal-body {
    color: rgb(55, 35, 145);
    text-decoration: none;
    line-height: 2em;
    font-size: 18px;
    padding: 20px;
}

.instructions-modal-content   {
    background:#f2ccff;
}

.instructions-modal-footer {
    text-align: center;
    }

.instructions-modal-close-btn {
    background: #8600b3;
    margin-bottom: 20px;
    
    }
