h4 {
    color: rgb(55, 35, 145);
    font-size: 33px;
    text-align: center;
}
.modal-body {
    font-size: 1.5em;
    color: rgb(55, 35, 145);
    text-decoration: none;
    line-height: 2em;
    font-size: 18px;
}

.modal-body {
    position: relative;
    pointer-events: none;
}

.modal-footer {
    text-align: center;
    }


