.startsida{
    color:white;
    height: 70vh;
    width: 60%;
    background-color: black;
    margin: auto;
    border: 5px groove #6c4b96;
    display: block;
    text-align: center;

    h1{
        font-size: 8vw;
        margin-top: 5%;
    }

    p{
        margin-top: 5%;
        font-size: 4vh;
        color:#007bff;

        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}