.langSv{
    list-style-type: none;
    margin: 0;
    padding: 0;
    p{
        margin:0;
    }
}

.langEn{
    list-style-type: none;
    display: none;
    margin: 0;
    padding: 0;
    p{
        margin:0;
    }
}

.engelska{
    display: none;
}