.startsida{
    color:white;
    height: 70vh;
    width: 60vw;
    background-color: black;
    margin: auto;
    border: 5px groove #6c4b96;
    display:block;
    text-align: center;
    position: relative;

h1{
    font-size: 8vw;
    margin-top: 5%;
    }

.startGame{
    position: absolute;
    width: 300px;
    left:50%;
    margin-left:-150px;
    top:45%;
    vertical-align:middle;
    font-size: 3vh;
    color:#007bff;

    &:hover{

        cursor: pointer;

        text-decoration: blink;
        animation-name: blinker;
        animation-duration: 0.7s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in-out;
        animation-direction: alternate;
        @keyframes blinker {
            from {opacity: 1.0;}
            to {opacity: 0.5;}
        }
        text-decoration: underline;
    }
   }

.highScoreButton{
    position: absolute;
    width: 300px;
    top: 57%;
    left:50%;
    margin-left:-150px;
    text-align: center;
    font-size: 3vh;
    color:#007bff;

    &:hover{
        cursor: pointer;

        text-decoration: blink;
        animation-name: blinker;
        animation-duration: 0.7s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in-out;
        animation-direction: alternate;
        @keyframes blinker {
            from {opacity: 1.0;}
            to {opacity: 0.5;}
        }

        text-decoration: underline;
    }
   
}

.Instructions {
    position: absolute;
    width: 300px;
    top: 69%;
    left: 50%;
    margin-left:-150px;
    text-align: center;
    font-size: 3vh;
    color:#007bff;

    &:hover{
        cursor: pointer;

        text-decoration: blink;
        animation-name: blinker;
        animation-duration: 0.7s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in-out;
        animation-direction: alternate;
        @keyframes blinker {
            from {opacity: 1.0;}
            to {opacity: 0.5;}
        }
        
        text-decoration: underline;
    }
}
}